<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Error occured</title>
	<link rel="stylesheet" href="../static/main.css">
</head>
<body>
	<header>
		<div class="upline">
			<div class="container">
				<a href="index.html"><p>Graphomaniac notes</p></a>
				<nav>
					<ul class="menu">
						<li><a href="index.html">ADD</a></li>
						<li><a href="notes.html">SHOW</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<section>
		<ul class="notes">
			<li>ERROR</li>
		</ul>
	</section>
</body>
</html>
