<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Notes</title>
	<link rel="stylesheet" href="../static/main.css">
</head>

<!--blue line top-->

<body>
	<header>
		<div class="upline">
			<div class="container">
				<a href="{{ url_for('index') }}"><p>Graphomaniac notes</p></a>
				<nav>
					<ul class="menu">
						<li><a href="{{ url_for('index') }}">ADD</a></li>
						<li><a href="{{ url_for('notes') }}">SHOW</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

<!--notes sorted-->

	<section>
		<ul class="notes">
			<!--loop for will be here-->
            {% for note in notes_list%}

            <li>{{note.note_string}}</li>

            {% endfor %}
		</ul>
	</section>
</body>
</html>
